@font-face {
    font-family: 'Chronicle Display';
    src: url('./src/fonts/Chronicle-display/Chronicle-Display-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./src/fonts/Gilroy/Gilroy-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./src/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./src/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/* Variables _______________________ */
:root {
    --body-bgcolor: #0B1D26;
    --primary-color: #ffffff;
    --secondary-color: #FBD784;
    --font-gilroy: "Gilroy", serif;
    --gilroy-style-semibold: "SemiBold";
}

/* Default styles _______________________ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
ul,
ol,
li,

body {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

img {
    display: inline-block;
    max-width: 100%;
}

button {
    background: 0;
    border: 0;
    outline: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a,
button,
div[class],
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

a:active,
button:active {
  background-color: transparent;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}

body {
    background: var(--body-bgcolor) url("./src/images/main-bg-img.jpg") no-repeat top;
    background-size: 100% auto;
    color: var(--primary-color);
    font-family: var(--font-gilroy);
}

/* End of default styles _______________________ */
.stop-scroll {
    overflow: hidden;
}

.main-container {
    width: 100%;
    max-width: 1462px;
    margin: 0 auto;
    padding: 0 16px;
}

main {
    overflow: hidden;
}

[data-animation="zoom"] {
    transform: scale(0.8);
}

[data-animation="fade-right"] {
    transform: translateX(100px);
}

[data-animation="fade-left"] {
    transform: translateX(-100px);
}

/* Header _______________________ */
.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
}

.nav-wrapper {
    padding: 64px 80px 0;
}

.nav-wrapper.fixed {
    background-color: #474343c1;
    transition: background-color .3s linear;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000000;
}

.container-wide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav-menu _______________________ */
.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-menu>ul {
    display: flex;
    gap: 40px;
}

.nav-menu>ul>li>a {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.nav-menu>ul>li>.account-link {
    display: none;
}

/* Account-link _______________________ */
.account-link {
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
}

.account-link>span,
.account-link>img {
    vertical-align: middle;
}

.account-link>img {
    margin-right: 8px;
}

/* Nav toggle _______________________ */
.nav-toggle {
    display: none;
    position: relative;
    z-index: 1000000;
    cursor: pointer;
}

.nav-toggle:focus {
    outline-width: 0;
}

.nav-toggle [class*='bar-'] {
    background-color: var(--primary-color);
    display: block;
    transform: rotate(0deg);
    transition: all .3s linear;
    border-radius: 8px;
    height: 2px;
    width: 35px;
    margin-bottom: 10px;
}

.nav-toggle .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    transform: rotate(45deg);
    transform-origin: 0% 15%;
}

.opened .bar-mid {
    opacity: 0;
    transform: translateX(-20px);
}

.opened .bar-bot {
    transform: rotate(-45deg);
    transform-origin: 0% 95%;
}

/* Hero _______________________ */
.hero {
    padding: 300px 0 800px 0;
}

.hero-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.hero-subtitle {
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.hero-subtitle::before {
    content: "";
    display: inline-block;
    vertical-align: super;
    margin-right: 24px;
    width: 72px;
    height: 2px;
    background-color: var(--secondary-color);
}

.hero-title {
    font-family: "Chronicle Display", serif;
    font-weight: 600;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
    margin: 32px 0;
}

.hero-scroll {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.hero-scroll>img {
    vertical-align: middle;
    margin-left: 16px;
    animation: arrow-move-y .5s linear infinite alternate;
    transform: translateY(0);
}

@keyframes arrow-move-y {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}

/* Social and Slider _______________________ */
.social,
.slider {
    display: flex;
    text-shadow: 0 0 25px #000000;
    position: fixed;
    z-index: 100;
}

.social {
    gap: 24px;
    transform: rotate(90deg) !important;
    top: 39%;
    left: -60px;
}

.social>span {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-color);
    white-space: nowrap;
}

.slider {
    align-items: center;
    gap: 10px;
    top: 30%;
    right: 20px;
}

.slider-indicator {
    position: relative;
    width: 3px;
    height: 240px;
    background: rgba(255, 255, 255, 0.5);
}

.slider-indicator::before {
    content: "";
    display: block;
    width: 3px;
    height: 60px;
    background: #FFFFFF;
}

.slider-text {
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.slider-text:last-child {
    margin-bottom: 0;
}

.slider-indicator {
    position: relative;
    width: 3px;
    height: 240px;
    /* Общая высота серой линии */
    background: rgba(255, 255, 255, 0.5);
}

.slider-indicator::before {
    content: "";
    display: block;
    width: 3px;
    height: 60px;
    /* Высота активного сегмента */
    background-color: var(--primary-color);

    /* Добавляем эти 3 строки для движения */
    position: absolute;
    /* transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(var(--y, 0px));  */

    /* Убираем плавность или ставим очень маленькую (0.1s), 
       чтобы движение было отзывчивым */
    transition: transform 0.1s linear;
    transform: translateY(var(--y, 0px));
}

.slider-text {
    cursor: pointer;
}

/* Animation _______________________ */
.animate {
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s linear;
}

.animate.show {
    transform: none;
    opacity: 1;
}

[data-animation="fade-left"] {
    transform: translateX(-100px);
}

[data-animation="fade-right"] {
    transform: translateX(100px);
}

[data-animation="zoom"] {
    transform: scale(-10px);
}

/* Article _______________________ */
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px 20px;
}

.article:not(:last-child) {
    margin-bottom: 200px;
}

.article-img {
    overflow: hidden;
}

.article-img>img {
    object-fit: cover;
}

.article-block {
    position: relative;
    width: 100%;
    max-width: 782px;
    padding-left: 150px;
}

.article-block::before {
    display: block;
    content: attr(data-number);
    max-width: 276px;
    max-height: 240px;
    font-weight: 700;
    font-size: 240px;
    line-height: 240px;
    color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    position: absolute;
    top: -24%;
    left: 0;
    z-index: -100;
}

.article-subtitle {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 27px;
}

.article-subtitle::before {
    content: "";
    display: inline-block;
    vertical-align: super;
    margin-right: 24px;
    width: 72px;
    height: 2px;
    background-color: var(--secondary-color);
}

.article-title {
    font-family: "Chronicle Display", serif;
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 27px;
}

.article-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 27px;
}

.article-read-more {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: var(--secondary-color);
}

.article-read-more>img {
    vertical-align: middle;
    animation: arrow-move-x .5s linear infinite alternate;
    transform: translateX(0);
}

@keyframes arrow-move-x {
    from {
        transform: translateX(-5px);
    }

    to {
        transform: translateX(0);
    }
}

/* Footer _______________________ */
.footer {
    padding: 120px 0 50px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 24px;
}

.footer-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    max-width: 341px;
}

.footer-column-2 {
    display: flex;
    justify-content: space-between;
    gap: 20px 212px;
}

.footer-nav>h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--secondary-color);
    margin-bottom: 24px;
}

.footer-nav>ul>li {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 16px;
}

.footer-copyright {
    margin-top: 122px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.379);
}

.mobile-copyright {
    display: none;
}

@media screen and (max-width: 1600px) {
    .main-container {
        padding: 0 78px;
    }
}

@media screen and (max-width: 1500px) {
    .hero {
        padding-bottom: 300px;
    }
}

@media screen and (max-width: 1200px) {
    .main-container {
        padding: 0 16px;
    }
    
    .social,
    .slider {
        display: none;
    }
}

@media screen and (max-width: 1060px) {
    main {
        margin-top: 0;
    }

    .article-block {
        padding-left: 50px;
    }
}

@media screen and (max-width: 1024px),
(max-width: 1114px) and (max-height: 700px) {
    /* Nav toggle _______________________ */
    .nav-toggle {
        display: inline-block;
    }

    .nav-wrapper {
        padding: 20px;
    }

    .nav-wrapper.fixed {
        padding: 15px;
    }

    .nav-wrapper.opened {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.527);
    }

    .nav-menu {
        opacity: 0;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        position: absolute;
        transition: opacity 0.3s linear;
        top: -1000%;
        left: 0;
        right: 0;
    }

    .nav-menu.opened {
        opacity: 1;
        top: 30%;
    }

    .nav-menu>ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu>ul>li>a {
        font-size: 40px;
        text-shadow: 2px 2px 10px rgb(166, 166, 166);
    }

    .account-link,
    .account-link>img {
        display: none;
    }

    .nav-menu>ul>li>.account-link {
        display: block;
    }

    /* Hero _______________________ */
    .hero {
        padding: 100px 0;
        text-align: center;
    }

    .hero-subtitle::before {
        margin-right: 10px;
        width: 30px;
    }

    .hero-title {
        font-size: 50px;
        line-height: normal;
    }

    /* Article _______________________ */
    .article {
        flex-direction: column-reverse;
        text-align: center;
    }

    .article:nth-child(2) {
        flex-direction: column;
    }

    .article:not(:last-child) {
        margin-bottom: 100px;
    }

    .article-block {
        padding: 0;
        position: relative;
    }

    .article-block::before {
        top: -35%;
        right: 0;
    }

    .article:nth-child(2)>.article-block::before {
        left: 0;
    }

    .article-subtitle {
        font-size: 18px;
    }

    .article-subtitle::before {
        margin-right: 10px;
        width: 30px;
    }

    .article-title {
        font-size: 40px;
    }

    .article-text {
        font-size: 18px;
    }

    .article-img {
        overflow: visible;
    }

    .article-img>img {
        width: 100%;
        max-width: 100%;
        height: 500px;
        object-fit: contain;
    }

    /* Footer _______________________ */
    .footer-column-2 {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    .footer-text {
        margin-bottom: 0;
    }

    .footer-nav {
        margin: 0 auto;
    }

    .footer-copyright {
        margin-top: 0;
    }

    .desktop-copyright {
        display: none;
    }

    .mobile-copyright {
        display: block;
    }

    .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 650px) {
    .nav-wrapper {
        padding: 20px 10px;
    }

    .header-logo,
    .footer-logo {
        width: 60px;
    }

    /* Hero _______________________ */
    .hero-title {
        font-size: 30px;
        line-height: normal;
    }

    /* Article _______________________ */
    .article-block {
        max-width: 100%;
    }

    .article-block::before {
        font-size: 140px;
        top: -50%;
    }

    .article-img {
        overflow: visible;
    }

    .article-img>img {
        width: 100%;
        max-width: 100%;
        height: 300px;
        object-fit: contain;
    }

    .article-subtitle {
        font-size: 12px;
    }

    .article-subtitle::before {
        display: none;
    }

    .article-title {
        font-size: 25px;
    }

    .article-text {
        font-size: 15px;
        line-height: 1.5;
    }

    .article-subtitle,
    .article-title,
    .article-text {
        margin-bottom: 18px;
    }

    .article-read-more {
        font-size: 15px;
    }

    /* Footer _______________________ */
    .footer {
        padding: 50px 0;
    }

    .footer-text {
        font-size: 15px;
    }

    .footer-column-2 {
        justify-content: space-between;
    }

    .footer-nav>h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer-nav>ul>li {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .footer-copyright {
        font-size: 10px;
        line-height: normal;
    }
}

@media screen and (max-width: 375px) {

    /* Article _______________________ */
    .article-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {

    /* Hero _______________________ */
    .hero {
        padding-bottom: 100px;
    }

    /* Article _______________________ */
    .article-subtitle {
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .article-text {
        font-size: 13px;
    }
}